<div class="jumbotron">
    <h1>SecurePoker</h1>
    <p class="lead">Poker is kinda cool</p>
    <p><a href="" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>So you wanna play poker?</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Card Games</h2>
        <p>Go fish is also fun</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
